In [6]:
from nba_api.stats.endpoints import commonplayerinfo
from nba_api.stats.static import players
from nba_api.stats.static import teams

In [7]:
# Find players by full name.
players.find_players_by_full_name('james')

[{'first_name': 'James',
  'full_name': 'James Anderson',
  'id': 202341,
  'is_active': False,
  'last_name': 'Anderson'},
 {'first_name': 'James',
  'full_name': 'James Augustine',
  'id': 200788,
  'is_active': False,
  'last_name': 'Augustine'},
 {'first_name': 'James',
  'full_name': 'James Bailey',
  'id': 76085,
  'is_active': False,
  'last_name': 'Bailey'},
 {'first_name': 'James',
  'full_name': 'James Blackwell',
  'id': 1806,
  'is_active': False,
  'last_name': 'Blackwell'},
 {'first_name': 'James',
  'full_name': 'James Collins',
  'id': 1530,
  'is_active': False,
  'last_name': 'Collins'},
 {'first_name': 'James',
  'full_name': 'James Cotton',
  'id': 1526,
  'is_active': False,
  'last_name': 'Cotton'},
 {'first_name': 'JamesOn',
  'full_name': 'JamesOn Curry',
  'id': 201191,
  'is_active': False,
  'last_name': 'Curry'},
 {'first_name': 'James',
  'full_name': 'James Davis',
  'id': 76524,
  'is_active': False,
  'last_name': 'Davis'},
 {'first_name': 'James',
  'full_name': 'James Donaldson',
  'id': 76583,
  'is_active': False,
  'last_name': 'Donaldson'},
 {'first_name': 'James',
  'full_name': 'James Edwards',
  'id': 229,
  'is_active': False,
  'last_name': 'Edwards'},
 {'first_name': 'James',
  'full_name': 'James Ennis III',
  'id': 203516,
  'is_active': True,
  'last_name': 'Ennis III'},
 {'first_name': 'James',
  'full_name': 'James Harden',
  'id': 201935,
  'is_active': True,
  'last_name': 'Harden'},
 {'first_name': 'James',
  'full_name': 'James Hardy',
  'id': 76948,
  'is_active': False,
  'last_name': 'Hardy'},
 {'first_name': 'Aaron',
  'full_name': 'Aaron James',
  'id': 77115,
  'is_active': False,
  'last_name': 'James'},
 {'first_name': 'Bernard',
  'full_name': 'Bernard James',
  'id': 203108,
  'is_active': False,
  'last_name': 'James'},
 {'first_name': 'Damion',
  'full_name': 'Damion James',
  'id': 202345,
  'is_active': False,
  'last_name': 'James'},
 {'first_name': 'Gene',
  'full_name': 'Gene James',
  'id': 77116,
  'is_active': False,
  'last_name': 'James'},
 {'first_name': 'Henry',
  'full_name': 'Henry James',
  'id': 1080,
  'is_active': False,
  'last_name': 'James'},
 {'first_name': 'Jerome',
  'full_name': 'Jerome James',
  'id': 1744,
  'is_active': False,
  'last_name': 'James'},
 {'first_name': 'Justin',
  'full_name': 'Justin James',
  'id': 1629713,
  'is_active': True,
  'last_name': 'James'},
 {'first_name': 'LeBron',
  'full_name': 'LeBron James',
  'id': 2544,
  'is_active': True,
  'last_name': 'James'},
 {'first_name': 'Mike',
  'full_name': 'Mike James',
  'id': 2229,
  'is_active': False,
  'last_name': 'James'},
 {'first_name': 'Mike',
  'full_name': 'Mike James',
  'id': 1628455,
  'is_active': False,
  'last_name': 'James'},
 {'first_name': 'Tim',
  'full_name': 'Tim James',
  'id': 1906,
  'is_active': False,
  'last_name': 'James'},
 {'first_name': 'James',
  'full_name': 'James Johnson',
  'id': 201949,
  'is_active': True,
  'last_name': 'Johnson'},
 {'first_name': 'James',
  'full_name': 'James Jones',
  'id': 2592,
  'is_active': False,
  'last_name': 'Jones'},
 {'first_name': 'James',
  'full_name': 'James Lang',
  'id': 2591,
  'is_active': False,
  'last_name': 'Lang'},
 {'first_name': 'James Michael',
  'full_name': 'James Michael McAdoo',
  'id': 203949,
  'is_active': False,
  'last_name': 'McAdoo'},
 {'first_name': 'James',
  'full_name': 'James Nunnally',
  'id': 203263,
  'is_active': False,
  'last_name': 'Nunnally'},
 {'first_name': 'James',
  'full_name': 'James Owens',
  'id': 77783,
  'is_active': False,
  'last_name': 'Owens'},
 {'first_name': 'James',
  'full_name': 'James Posey',
  'id': 1899,
  'is_active': False,
  'last_name': 'Posey'},
 {'first_name': 'Jamesearl',
  'full_name': 'Jamesearl Ray',
  'id': 77920,
  'is_active': False,
  'last_name': 'Ray'},
 {'first_name': 'James',
  'full_name': 'James Robinson',
  'id': 381,
  'is_active': False,
  'last_name': 'Robinson'},
 {'first_name': 'James',
  'full_name': 'James Scott',
  'id': 1109,
  'is_active': False,
  'last_name': 'Scott'},
 {'first_name': 'James',
  'full_name': 'James Silas',
  'id': 78150,
  'is_active': False,
  'last_name': 'Silas'},
 {'first_name': 'James',
  'full_name': 'James Singleton',
  'id': 101189,
  'is_active': False,
  'last_name': 'Singleton'},
 {'first_name': 'James',
  'full_name': 'James Southerland',
  'id': 203480,
  'is_active': False,
  'last_name': 'Southerland'},
 {'first_name': 'James',
  'full_name': 'James Thomas',
  'id': 2839,
  'is_active': False,
  'last_name': 'Thomas'},
 {'first_name': 'James',
  'full_name': 'James Webb III',
  'id': 1627821,
  'is_active': False,
  'last_name': 'Webb III'},
 {'first_name': 'James',
  'full_name': 'James White',
  'id': 200778,
  'is_active': False,
  'last_name': 'White'},
 {'first_name': 'James',
  'full_name': 'James Wilkes',
  'id': 78533,
  'is_active': False,
  'last_name': 'Wilkes'},
 {'first_name': 'James',
  'full_name': 'James Worthy',
  'id': 1460,
  'is_active': False,
  'last_name': 'Worthy'},
 {'first_name': 'James',
  'full_name': 'James Young',
  'id': 203923,
  'is_active': False,
  'last_name': 'Young'}]

In [8]:
players.find_players_by_full_name('luka')

[{'first_name': 'Luka',
  'full_name': 'Luka Doncic',
  'id': 1629029,
  'is_active': True,
  'last_name': 'Doncic'},
 {'first_name': 'Luka',
  'full_name': 'Luka Samanic',
  'id': 1629677,
  'is_active': True,
  'last_name': 'Samanic'}]

In [9]:
# Find teams by full name.
teams.find_teams_by_full_name('cav')

[{'abbreviation': 'CLE',
  'city': 'Cleveland',
  'full_name': 'Cleveland Cavaliers',
  'id': 1610612739,
  'nickname': 'Cavaliers',
  'state': 'Ohio',
  'year_founded': 1970}]

In [10]:
player_id = 1629029
player_info = commonplayerinfo.CommonPlayerInfo(player_id=player_id)
player_id

1629029

In [11]:
player_info.available_seasons.get_json()

'{"headers": ["SEASON_ID"], "data": [["12018"], ["22018"], ["12019"], ["22019"]]}'

In [12]:
player_info.available_seasons.get_dict()

{'data': [['12018'], ['22018'], ['12019'], ['22019']],
 'headers': ['SEASON_ID']}

In [13]:
# Returns the data set in a pandas DataFrame.
player_info.available_seasons.get_data_frame()

  SEASON_ID
0     12018
1     22018
2     12019
3     22019

In [14]:
# Basic Request
player_info = commonplayerinfo.CommonPlayerInfo(player_id=2544)

In [17]:
player_info.available_seasons.get_data_frame()

   SEASON_ID
0      12003
1      22003
2      12004
3      22004
4      32004
5      12005
6      22005
7      32005
8      42005
9      12006
10     22006
11     32006
12     42006
13     12007
14     22007
15     32007
16     42007
17     12008
18     22008
19     32008
20     42008
21     12009
22     22009
23     32009
24     42009
25     12010
26     22010
27     32010
28     42010
29     12011
..       ...
32     42011
33     12012
34     22012
35     32012
36     42012
37     12013
38     22013
39     32013
40     42013
41     12014
42     22014
43     32014
44     42014
45     12015
46     22015
47     32015
48     42015
49     12016
50     22016
51     32016
52     42016
53     12017
54     22017
55     32017
56     42017
57     12018
58     22018
59     32018
60     12019
61     22019

[62 rows x 1 columns]

In [18]:
# Returns all data in a normalized dictionary.
player_info.get_normalized_dict()

{'AvailableSeasons': [{'SEASON_ID': '12003'},
  {'SEASON_ID': '22003'},
  {'SEASON_ID': '12004'},
  {'SEASON_ID': '22004'},
  {'SEASON_ID': '32004'},
  {'SEASON_ID': '12005'},
  {'SEASON_ID': '22005'},
  {'SEASON_ID': '32005'},
  {'SEASON_ID': '42005'},
  {'SEASON_ID': '12006'},
  {'SEASON_ID': '22006'},
  {'SEASON_ID': '32006'},
  {'SEASON_ID': '42006'},
  {'SEASON_ID': '12007'},
  {'SEASON_ID': '22007'},
  {'SEASON_ID': '32007'},
  {'SEASON_ID': '42007'},
  {'SEASON_ID': '12008'},
  {'SEASON_ID': '22008'},
  {'SEASON_ID': '32008'},
  {'SEASON_ID': '42008'},
  {'SEASON_ID': '12009'},
  {'SEASON_ID': '22009'},
  {'SEASON_ID': '32009'},
  {'SEASON_ID': '42009'},
  {'SEASON_ID': '12010'},
  {'SEASON_ID': '22010'},
  {'SEASON_ID': '32010'},
  {'SEASON_ID': '42010'},
  {'SEASON_ID': '12011'},
  {'SEASON_ID': '22011'},
  {'SEASON_ID': '32011'},
  {'SEASON_ID': '42011'},
  {'SEASON_ID': '12012'},
  {'SEASON_ID': '22012'},
  {'SEASON_ID': '32012'},
  {'SEASON_ID': '42012'},
  {'SEASON_ID': '12013'},
  {'SEASON_ID': '22013'},
  {'SEASON_ID': '32013'},
  {'SEASON_ID': '42013'},
  {'SEASON_ID': '12014'},
  {'SEASON_ID': '22014'},
  {'SEASON_ID': '32014'},
  {'SEASON_ID': '42014'},
  {'SEASON_ID': '12015'},
  {'SEASON_ID': '22015'},
  {'SEASON_ID': '32015'},
  {'SEASON_ID': '42015'},
  {'SEASON_ID': '12016'},
  {'SEASON_ID': '22016'},
  {'SEASON_ID': '32016'},
  {'SEASON_ID': '42016'},
  {'SEASON_ID': '12017'},
  {'SEASON_ID': '22017'},
  {'SEASON_ID': '32017'},
  {'SEASON_ID': '42017'},
  {'SEASON_ID': '12018'},
  {'SEASON_ID': '22018'},
  {'SEASON_ID': '32018'},
  {'SEASON_ID': '12019'},
  {'SEASON_ID': '22019'}],
 'CommonPlayerInfo': [{'BIRTHDATE': '1984-12-30T00:00:00',
   'COUNTRY': 'USA',
   'DISPLAY_FIRST_LAST': 'LeBron James',
   'DISPLAY_FI_LAST': 'L. James',
   'DISPLAY_LAST_COMMA_FIRST': 'James, LeBron',
   'DLEAGUE_FLAG': 'N',
   'DRAFT_NUMBER': '1',
   'DRAFT_ROUND': '1',
   'DRAFT_YEAR': '2003',
   'FIRST_NAME': 'LeBron',
   'FROM_YEAR': 2003,
   'GAMES_PLAYED_FLAG': 'Y',
   'HEIGHT': '6-9',
   'JERSEY': '23',
   'LAST_AFFILIATION': 'St. Vincent-St. Mary HS (OH)/USA',
   'LAST_NAME': 'James',
   'NBA_FLAG': 'Y',
   'PERSON_ID': 2544,
   'PLAYERCODE': 'lebron_james',
   'POSITION': 'Forward',
   'ROSTERSTATUS': 'Active',
   'SCHOOL': 'No College',
   'SEASON_EXP': 16,
   'TEAM_ABBREVIATION': 'LAL',
   'TEAM_CITY': 'Los Angeles',
   'TEAM_CODE': 'lakers',
   'TEAM_ID': 1610612747,
   'TEAM_NAME': 'Lakers',
   'TO_YEAR': 2019,
   'WEIGHT': '250'}],
 'PlayerHeadlineStats': [{'AST': 10.7,
   'PIE': 0.197,
   'PLAYER_ID': 2544,
   'PLAYER_NAME': 'LeBron James',
   'PTS': 25.3,
   'REB': 7.7,
   'TimeFrame': '2019-20'}]}

In [19]:
# Find teams by full name.
teams.find_teams_by_full_name('cav')

[{'abbreviation': 'CLE',
  'city': 'Cleveland',
  'full_name': 'Cleveland Cavaliers',
  'id': 1610612739,
  'nickname': 'Cavaliers',
  'state': 'Ohio',
  'year_founded': 1970}]

In [20]:
from nba_api.stats.endpoints import playercareerstats
# Anthony Davis
career = playercareerstats.PlayerCareerStats(player_id='203076')
career.get_data_frames()[0]

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,203076,2012-13,00,1610612740,NOH,20.0,64,60,1846.0,349,...,0.751,165,357,522,63,75,112,89,158,867
1,203076,2013-14,00,1610612740,NOP,21.0,67,66,2358.0,522,...,0.791,207,466,673,105,89,189,109,200,1394
2,203076,2014-15,00,1610612740,NOP,22.0,68,68,2455.0,642,...,0.805,173,523,696,149,100,200,95,141,1656
3,203076,2015-16,00,1610612740,NOP,23.0,61,61,2164.0,560,...,0.758,130,497,627,116,78,125,121,148,1481
4,203076,2016-17,00,1610612740,NOP,24.0,75,75,2708.0,770,...,0.802,172,712,884,157,94,167,181,168,2099
5,203076,2017-18,00,1610612740,NOP,25.0,75,75,2727.0,780,...,0.828,187,644,831,174,115,193,162,159,2110
6,203076,2018-19,00,1610612740,NOP,26.0,56,56,1850.0,530,...,0.794,174,498,672,218,88,135,112,132,1452
7,203076,2019-20,00,1610612747,LAL,26.0,39,39,1349.0,357,...,0.865,81,275,356,124,59,96,94,100,1032

## Sources
1. https://github.com/swar/nba_api/tree/master/docs/examples  
2. https://towardsdatascience.com/link-prediction-with-neo4j-part-2-predicting-co-authors-using-scikit-learn-78b42356b44c  
3. https://medium.com/@davidheffernan_99410/an-introduction-to-using-categorical-embeddings-ee686ed7e7f9  
4. https://medium.com/@george.drakos62/decoded-entity-embeddings-of-categorical-variables-in-neural-networks-1d2468311635  
5. https://pypi.org/project/entity-embeddings-categorical/